{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block titulo %} Novo Item{% endblock  %}
    
{% block conteudo %}
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Adicionar Item</h5><hr />
          
          <div class="container">
            <div class="row">
            
              <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                <div class="card">
                  <div class="card-body">
                    <form method="POST" class="post-form ">
                      {% csrf_token %}
                      {{ formset.management_form|crispy }}
                      <div class=" col-md-12 mb-2">
                          <div class="form-row">                           
                              <div class="form-group col-md-12 mb-0">
                                  {{ form.Numero_serie | as_crispy_field}}
                              </div>
                          </div>
                          <div class="form-row">                           
                              <div class="form-group col-md-12 mb-0">
                                  {{ form.Requisicao | as_crispy_field}}
                              </div>
                          </div>
                          <div class="form-row">                                                    
                            <div class="form-group col-md-12 mb-0">
                              {{ form.Descricao  | as_crispy_field}}
                            </div>
                          </div> 
                      </div>                        
                      
                      <div class="card-body text-center">
                        <button type="submit" class="save btn btn-outline-primary col-md-8 mb-2">Salvar</button>
                      </div>      
                    </form>
                  </div>
                </div>
              </div>
              
              <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                <div class="card">
                  <div class="card-body">

                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Requisição</span>
                      </div>
                     <input class="form-control bg-white" type="text" value="{{requisicao}} | {{requisicao.Modelo}}"  readonly>
                    </div>

                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Requerida por</span>
                      </div>
                     <input class="form-control bg-white" type="text" value="{{requisicao.username}}" readonly >
                    </div>

                    <div class="input-group mb-1">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Data da requisição</span>
                      </div>
                     <input class="form-control bg-white" type="text" value="{{requisicao.Data_requisicao}}" readonly>
                    </div>
                    <br>

                    <!-- Row de Cards-->
                    <div class="row">
                      <div class="col-xl-4 col-sm-4 mb-1">
                        <div class="card text-dark bg-light o-hidden h-100">
                          <div class="card-body">
                            <div class="text-center">                              
                              <br><h1>{{qtd_requerida}}</h1>
                            </div>
                          </div>
                          <a class="card-footer text-dark clearfix small z-5 text-center">
                            <h6><i class="fas fa-exclamation-circle text-primary"></i> Requerida</h6>
                          </a>
                        </div>
                      </div>
                      
                      <!--Card Atendida-->
                      <div class="col-xl-4 col-sm-4 mb-2">
                        <div class="card text-dark bg-light o-hidden h-100">
                          <div class="card-body">
                            <div class=" text-center">                              
                              <br><h1>{{qtd_atendida}}</h1>
                            </div>
                          </div>
                          <a class="card-footer text-dark clearfix small z-1 text-center" >
                            <h6><i class="fas fa-check color-wa text-success "></i> Atendida</h6>
                          </a>
                        </div>
                      </div>
                      <!--Fim do Card Atendida-->

                      <!--Card Pendente-->
                      <div class="col-xl-4 col-sm-4 mb-2">
                        <div class="card text-dark bg-light o-hidden h-100">
                          <div class="card-body">
                            <div class="text-center">
                              <br><h1>{{qtd_pendente}}</h1>
                            </div>
                          </div>
                          <a class="card-footer text-dark clearfix small z-1 text-center">
                            <h6><i class="fas fa-times-circle text-danger"></i> Pendente</h6>                        
                          </a>
                        </div>
                      </div> 
                      <!--Fim do Card Pendente-->
                    </div>
                    <!--Fim row de Cards-->
                    <br>
                    <!--Barra de progresso-->
                    Progresso da requisição:<br>
                    <div class="progress">
                      
                      <div class="progress-bar" role="progressbar" style="width: {{percentual_int}}%;" aria-valuenow="{{percentual_int}}" aria-valuemin="0" aria-valuemax="100">
                      {% if percentual_float > 10 %}
                        <i>{{percentual_float}}%</i></div>
                      {% else %}
                        <i style= color:black>{{percentual_float}}%</i>
                      {% endif %}
                    </div>                  
                    <!--Fim da barra de progresso-->

                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>

{% endblock conteudo %}