{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block titulo %} Cadastrar Modelo {% endblock  %}

{% block conteudo %}

<div class="card w-50" style="width: 21.5em;margin:0 auto;">
    <div class="card-body">
        <h5 class="card-title mb-2">Cadastro de Modelo</h5>
        <hr />

        <form method="POST" class="post-form ">
            {% csrf_token %}
            {{ formset.management_form|crispy }}
            <div class="card col-md-12 mb-3">
                <div class="form-row">
                    <div class="form-group col-md-12 mb-0">
                        {{ form.Modelo  | as_crispy_field}}
                    </div> 
                </div>
        
                <div class="form-row">
                    <div class="form-group col-md-12 mb-3">
                        {{ form.Descricao  | as_crispy_field}}
                    </div>
                </div>

                <label for="comment">Informe se o modelo é ativo:</label>
                <div class="card col-md-12 mb-4">
                    
                    <div class="form-row col-md-12 mb-1">
                    
                        <div class="form-group col-md-12 mb-2"><br>
                            {{ form.Ativo  | as_crispy_field}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="card text-center">
                <div class="card-body">
                    <div class="card-text">    
                        <button type="button" value="Voltar" class="save btn btn-danger col-md-4 mb-2 pull-left" onClick="javascript: history.go(-1);">Cancelar</button>
                        <button type="submit" class="save btn btn-primary col-md-5 mb-2 pull-right">Salvar</button>
                    </div>
                </div>
            </div>     
          
        </form>
        
    </div>
</div>



{% endblock conteudo %}